CurrentVersion|1.5.0.0
DownloadUrl|https://github.com/adammhaile/Elpis/releases/download/1.5.0/ElpisInstall_1.5.0.exe
ReleaseNotes|https://raw.githubusercontent.com/adammhaile/Elpis/master/ChangeLog.txt
BetaVersion|1.5.1.0
BetaDownloadUrl|https://github.com/adammhaile/Elpis/releases/download/1.5.1/ElpisInstall_1.5.1.exe
BetaReleaseNotes|https://raw.githubusercontent.com/adammhaile/Elpis/master/BetaChangeLog.txt
