CurrentVersion|1.4.7.0
DownloadUrl|https://github.com/adammhaile/Elpis/releases/download/1.4.7/ElpisInstall_1.4.7.exe
ReleaseNotes|https://raw.githubusercontent.com/adammhaile/Elpis/master/ChangeLog.txt
BetaVersion|1.4.10.0
BetaDownloadUrl|https://github.com/adammhaile/Elpis/releases/download/1.4.10/ElpisInstall_1.4.10.exe
BetaReleaseNotes|https://raw.githubusercontent.com/adammhaile/Elpis/master/BetaChangeLog.txt
